body {
  color: #212121;
}

.promotion {
  width: 100%;
  padding: 2px 0;
  background: #fff;

}
.featured-preview{
  display: block;
}

.promotion h6 {
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  width: 0 100%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}



.promotion-link {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.promotion-link a {
  color: #212121;
  font-size: 10px;
}

.promotion-link a:hover {
  opacity: 0.6;
}

.arrow-left,
.scroll-icon {
  padding-left: 5px;
  font-size: 16px;
}



.promotion-buttons {
  display: block;
  align-items: center;
  justify-content: left;
}

.promotion-buttons button {
  border-radius: 5px;
  justify-content: center;
  padding: 2px 6px;
  color: #212121;
  background: #fffdfd;
  margin-left: 4px;
  font-size: 12px;
  /* min-width: 145px; */
}

.bg-img {
  height: 100%;
  /* min-height: 601px; */
  width: 100%;
  /* background: #101010; */
  /* background-image: url("/public/newww.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-content {
  text-align: left;
  position: absolute;
  top: 50%;
  width: 40%;
  margin: auto;
  left: 21%;
  border: 2px solid #fff4f41f;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  color: #ecebeb;
  /* min-width: 350px; */
  font-size: 15px;
}



.inner-banner {
  padding: 10px 20px;
  /* width: 60%; */
  margin: 0 auto;
  justify-content: center;
}

.banner-content button:hover {
  background: #212121;
  color: #fff;
}

.search-button,
.signin-btn,
.cart-icon {
  outline: none;
  border: none;
  padding: 0;
}

.signin-btn span,
.cart-icon span {
  padding: 0 6px;
  border-left: 1px solid #3b3b3b;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons li {
  display: flex;
  justify-content: space-evenly;
  padding-right: 10px;
}

.icons button {
  font-size: 8px;
  justify-content: center;
}

.search-butt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-nav {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.right-nav a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

.nav-menu {
  font-size: 12px;
  color: #212121;
}

.toggle-button {
  color: #000;
}

nav>.navbar-menu ul {
  color: #212121;
  font-size: 11px;
  font-weight: bold;
  margin: auto;
  display: flex;
  padding: 0;
  font-family: 'Merriweather', serif;
  justify-content: space-between;
  list-style: none;
}

.icons span {
  font-size: 20px;
}

.search-input {
  background: #f2f2f2;
  border-radius: 5px;
  display: flex;
}

.search-input button {
  outline: 0;
  border: 0;
}

.search-input input {
  background: #f2f2f2;
  margin: 0;
  border: none;
  outline: none;
  padding: 4px 8px;
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.home {
  font-family: 'Lato', sans-serif;
}

.featured {
  background: inherit;
  margin: 5% auto;
  font-size: 12px;
  width: 90%;
}

/* .featured-caption{
  al
} */

.trend-buttons button {
  font-size: 12px;
  margin-right: 5px;
  border-radius: 0;
}

.trending {
  border: 1px solid #212121;
}

.products{
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  margin: 0 2%;
}
.product-preview {
  width: 25%;
  text-align: center;
  margin: 10px 0;
  bottom: 0;
  /* background-color: #f7f7f7; */
  font-size: 12px;
  /* font-weight: bold; */
  text-transform: capitalize;
  object-fit: fill;
  align-items: center;
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.product-image {
  width: 100%;
  max-height: 175px;
  object-fit: contain;
  object-position: top;
  background: #f7f7f7;
}

.product-description{
  /* background: red; */
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}

.terms{
  font-size: 8px;
  text-transform: none;
  
}
@media screen and (max-width:991px) {
  .banner-text-mobile {
    display: none;
  }
}

@media screen and (max-width: 777px) {
  .banner-content {
    width: 100%;
    left: 50%;
  }
}

@media screen and (max-width: 441px) {
  .inner-banner {
    padding: 0;
    margin: 0 auto;
    /* height: 50%; */
    object-fit: contain;

  }

  .banner-text-mobile {
    text-align: left;
    display: block;
  }

  .banner-text-desktop {
    display: none;
  }
    .promotion-buttons {
      display: block;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

  .promotion-buttons button {
    padding: 2px 6px;
  }
}

@media screen and (max-width: 250px) {
  .bg-img{
    display: none;
  }

  
}