nav {
    background: #fff;
    scroll-behavior: smooth;
    transition: all 0.4s ease-in-out;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    color: #212121;
}

.first-line-nav {
    left: 0;
}

.short-links-nav {
    justify-content: flex-start;
    background: inherit;
    padding: 4px 0;
    right: 0;

}

.short-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.short-links {
    width: 100%;
    margin: 0;
    width: 100%;

}

.short-links a {
    color: #212121;
    font-size: 11px;
    padding: 0 8px;
    font-weight: light;
    text-transform: lowercase;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.nav-section {
    display: block;
    padding: 0;
    margin: 0;
}



.navbar-section>.navbrand {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}

.navbar-section {
    width: 100%;
    display: flex;
    padding: 8px 0;
    justify-content: space-between;
    border-top: 1px solid rgb(240, 237, 237);
    border-bottom: 1px solid rgb(240, 237, 237);
    box-shadow: 0 -2px 3px -3px grey inset;
}

.navbar-action {
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 21px;
}



.navbar-section>.nav-help {
    width: 30%;
}

.nav-help form {
    width: 100%;
}

.nav-help {
    display: flex;
}

.nav-help button {
    outline: none;
    border: none;
    background: inherit;
    padding: 0 10px;
}

.nav-help a {
    color: #212121;
}


.navbrand-logo {
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin: auto;
}

.pop-up {
    max-width: 350px;
    /* overflow: hidden; */
    object-fit: contain;
    /* position: fixed;
    left: 20%; */
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;

}


.pop-up-header {
    border-bottom: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* max-width: 350px; */
    padding: 20px;
    text-transform: capitalize;
    position: relative;
    /* background-color: #1a1a1a; */
    /* background: #333; */
    color: #212121;
    /* color: #f25939; */
    border: 1px solid #333;
}

.title {
    font-size: 14px;
    /* font-weight: 600; */
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #212121;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #212121;
}

.message,
.signin {
    font-size: 11px;
    color: #212121;
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline #212121;
    opacity: 0.7;
}

.signin a {
    color: #212121;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: #fff;
    font-size: 12px;
    color: #212121;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    color: #212121;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #212121;
}

.submit:hover {
    opacity: 0.8;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}